@font-face {
  font-family: "Anton", sans-serif;
  src: url("/foonds/Anton-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

body.junior {
  background-image: url(assets/background/junior.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body.middle {
  background-image: url(assets/background/middle.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body.senior {
  background-image: url(assets/background/senior.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  width: 100%;
  height: 5%;
  list-style: none;
  display: flex;
  justify-content: space-between;

  .difficulty-selection {
    width: 100px;
    padding: 5px;
    .complexity {
      -webkit-app-region: no-drag;
      .easy {
      }

      .average {
      }

      .difficult {
      }
    }
  }

  .buttom-for-window {
    padding: 5px;
    .minimize-button {
      -webkit-app-region: no-drag;
      width: 20px;
      height: 20px;
      border: 1px solid #000000;
    }

    .close-button {
      -webkit-app-region: no-drag;
      width: 20px;
      height: 20px;
      border: 1px solid #000000;
    }
  }
}
main {
  max-width: 100%;
  max-height: 95%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 95%;

  .card-container {
    -webkit-app-region: no-drag;
    perspective: 700px;
    margin: 5px;

    .card {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.6s;
    }
  }
  .back {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: 0 100px;
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    visibility: hidden;
  }
  .front {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-image: url(assets/icons/question.png);
    background-repeat: no-repeat;
  }
}
.junior {
  margin-bottom: 11.6px;
  .card-container {
    width: 23%;
    height: 23.5%;
  }
  .back {
    margin: 0;
    padding: 0;
    background-position: 20 20;
    background-size: 80% 80%;
  }
  .front {
    margin: 0;
    padding: 0;
    background-position: 30 35;
    background-size: 60% 60%;
  }
}
.middle {
  .card-container {
    width: 15%;
    height: 22%;
  }
  .back {
    background-position: 20 20;
    background-size: 80% 80%;
  }
  .front {
    background-position: 20 30;
    background-size: 60% 60%;
  }
}
.senior {
  .card-container {
    width: 15%;
    height: 15%;
  }
  .back {
    background-position: 10 20;
    background-size: 80% 80%;
  }
  .front {
    background-position: 20 30;
    background-size: 60% 60%;
  }
}
